.ant-menu-item-selected {
    background-color: #F8F4E6!important;
    color: #FCBD18 !important;
}
.ant-menu-item {
color: #333333;
}
.ant-menu-item:hover {
    background-color: #F2F2F7 !important;
}
.ant-menu-submenu-selected > .ant-menu-submenu-title {
    color: #333333 !important;
}

.ant-menu-submenu-arrow {
    color: #333333 !important;
}

.ant-menu-submenu-title {
    color: #333333 !important;
}

.ant-menu-sub {
    background-color: white !important; 
}
