djangorestframework==3.16.0 
drf-spectacular==0.28.0
djangorestframework-simplejwt==5.5.1
pillow==12.1.1
django-cors-headers==4.7.0
drf-extra-fields==3.7.0
django-filter==2.4.
requests==2.33.0
psycopg2-binary==2.9.10
python-decouple==3.8
flake8==7.3.0
black==26.3.1
pip-audit==2.10.0