<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">

<div class="comunidade-infos">
    <img src="/projeto_bizzu/app_bizzu/static/img/comunidadeFotoPerfil.svg" alt="imagem da comunidade tads" class="icon">
    <div class="principais-info">
        <h1> TADS </h1> 
        <p>Comunidade do curso TADS da diatinf</p>
        <div class="seguindo-bt">
            <p style="color: black">99 seguindo</p>
            <a id="BotaoLink" class="PerfilSecundario" href="#">
                <p id="botaoP">Seguir</p>
            </a>  
        </div>  
    </div>
</div>

<style>

.comunidade-infos {
        display: flex;
        align-items: center;
        gap: 8px;
        border-bottom: 1px solid #DCCEB1;
        font-family: poppins;
    }

.seguindo-bt {
    display: flex;
    align-items: center;
    gap: 8px;

}

.icon {
    width: 10vw;
    height: 8vw;
    margin-left: 25px;
} 
    
#BotaoLink{
    height: auto;
    max-height: 27px;
    display: flex;
    text-decoration: none;
    width: fit-content;
    border-radius: 30px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    white-space: nowrap;
}

#botaoP{
    font-size: 1.1vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

    #BotaoLink.PerfilSecundario{
    border: 1px solid;
    border-color: #058B92;
    color: #058B92;
    max-height: 15px;
    padding-left: 1.8%;
    padding-right: 1.5%;
} 

 #BotaoLink:hover{
    background-color: #ACABA4;
}
</style>