<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">

<div class="menu-horizontal-container">
    <a href="link da pagina selecionada" class="menuHorizontal postagensDiv">
        <img class="imgMenu default" src="/projeto_bizzu/app_bizzu/static/img/iconePostagem.svg" alt="icone postagens">
        <img class="imgMenu hover" src="colocar icone branco" alt="icone postagens hover">
        Postagens
    </a> 
    <a href="link da pagina selecionada" class="menuHorizontal repositorioDiv">
        <img class="imgMenu default" src="/projeto_bizzu/app_bizzu/static/img/iconeRepositorio.svg" alt="icone repositórios">
        <img class="imgMenu hover" src="colocar icone branco" alt="icone repositórios hover">
        Repositórios
    </a>
    <a href="link da pagina selecionada" class="menuHorizontal comentariosDiv">
        <img class="imgMenu default" src="/projeto_bizzu/app_bizzu/static/img/iconeComentario.svg" alt="icone comentários">
        <img class="imgMenu hover" src="colocar icone branco" alt="icone comentários hover">
        Comentários
    </a>
</div>








