<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">

<div class="menu-horizontal-container">
    <div class="menuHorizontal postagensDiv">
        <img class="imgMenu" src="/projeto_bizzu/app_bizzu/static/img/iconePostagem.svg" alt="icone postagens">Postagens
    </div>
    <div class="menuHorizontal repositorioDiv">
        <img class="imgMenu" src="/projeto_bizzu/app_bizzu/static/img/iconeRepositorio.svg" alt="icone repositórios">Repositórios
    </div>
    <div class="menuHorizontal comentariosDiv">
        <img class="imgMenu" src="/projeto_bizzu/app_bizzu/static/img/iconeComentario.svg" alt="icone comentários">Comentários
    </div>
</div>

<style>

    .menu-horizontal-container {
        display: flex;
        align-items: center;
        gap: 20px;
        font-family: poppins;
        font-size: 15px;
        /* color: white; --> colocar como branco, quando botar o fundo*/
    }

    .menuHorizontal {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 15px 20px;
        border-radius: 20px;
        transition: background-color 0.3s;
        position: relative;
    }

    .imgMenu {
        width: 12px;
        height: 12px;
    }

    .menuHorizontal.selected {
        background-color: #F79010;
    }

</style>