<table class="tabela">

        <tr class="tabela_linha">
            <th>
                <!-- foto de perfil + nome -->
                <div class="profile-container">
                    <div class="hexagon">
                        <img src="{{ usuario.foto_perfil.url|default:'https://via.placeholder.com/32' }}" class="profile-image">
                    </div>
                    <div class="user-info">
                        <span class="username">{{ usuario.nome|default:"Sem nome" }}</span>
                        <span class="separator">•</span>
                        <span class="timestamp">{{ post.tempo_postagem|default:"0h atrás" }}</span>
                    </div>
                    <!-- tags -->
                    <div class="container">
                        <div class="tag tag-rosa"><img src="/projeto_bizzu/app_bizzu/static/img/iconeTagRosa.svg" class="imgMenu"> Período</div>
                        <div class="tag tag-azul"><img src="/projeto_bizzu/app_bizzu/static/img/iconeTagAzul.svg" class="imgMenu"> Matéria</div>
                        <div class="tag tag-verde"><img src="/projeto_bizzu/app_bizzu/static/img/iconeTagVerde.svg" class="imgMenu"> Tecnologia</div>
                    </div>
                    <!-- tags -->

                </div>
            </th>
        </tr>

        <tr class="tabela_linha">
            <td>
                <img src="pasta.png" alt="Ícone" class="icone_pasta">
                <a href="arquivo1.txt" target="_blank">Arquivo 1</a>
            </td>
        </tr>

        <tr class="tabela_linha">
            <td>
                <img src="pasta.png" alt="Ícone" class="icone_pasta">
                <a href="arquivo2.pdf" target="_blank">Arquivo 2</a>
            </td>
        </tr>
        <tr class="tabela_linha">
            <td>
                <img src="pasta.png" alt="Ícone" class="icone_pasta">
                <a href="arquivo3.docx" target="_blank">Arquivo 3</a>
            </td>
        </tr>
        <tr class="tabela_linha">
            <td>
                <img src="pasta.png" alt="Ícone" class="icone_pasta">
                <a href="arquivo4.jpg" target="_blank">Arquivo 4</a>
            </td>
        </tr>
        <tr class="tabela_linha">
            <td>
                <img src="pasta.png" alt="Ícone" class="icone_pasta">
                <a href="arquivo4.jpg" target="_blank">Arquivo 4</a>
            </td>
        </tr>

    </table>
