/* Estilizar o título do Divider */
.ant-divider {
  color: #f5222d; 
  font-weight: 600;
  font-size: 1.2rem;
}




.ant-list-item {
  font-size: 0.95rem;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ant-list-item:hover {
  background-color:#333333 ;
}


.ant-list {
  border-radius: 8px;
  border-color: #d9d9d9;
}

.item-selecionado {
  background-color:  #FCBD18 !important;
  color: white;
  font-weight: bold;
}