
.ant-list-item {
  font-size: 0.95rem;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.ant-list-item:hover {
  background-color: #F2F2F7 !important; 
}


.item-selecionado {
  background-color: #F8F4E6 !important; 
  color: #FCBD18 !important;           
  font-weight: bold;
}

