:root{
    --laranja: #F79010 ;
    --amarelo: #F7C110 ;
    --verdeAgua: #058B92 ;
    --cinza: #393737 ;
    --vermelho: #9D0707 ;
    --marromEscuro: #27211B ;
    --amareloClaro: #DCCEB1 ;
    --preto: #1B1A19 ;
    --branco: #FFFFFF;
    --cinza: #ACABA4;
    --amareloEscuro: #B5862E;
    --amareloEscuro: #B5862E;
}
body{
    padding: 50px;
}