.input{
    width: 25%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--cinza);
    color: #ffffff9a;
    border-radius: 20px;
    border-color: #3C3834;
    display: flex;
}
.entrada{
    outline: none;
    background-color: #3c383400;
    border-color: #3c383400;
    margin-left: 10px;
    width: 90%;
}
