{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bizzu</title>
    <link rel="stylesheet" href="{% static "css/basePerfil2.css" %}?v=1.3">
    <link rel="stylesheet" href="{% static "css/navebarDireita2.css" %}?v=1.4">
    <link rel="stylesheet" href="{% static "css/Botao.css" %}?v=1.3">
    <link rel="stylesheet" href="{% static "css/navbarEsquerda.css" %}?v=1.2">
    <link rel="icon" type="image/svg+xml" href="{% static 'img/abelha_bizzu.svg' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'feed' %}">
                <img src="{% static 'img/abelha_bizzu.svg' %}" id="abelhalogo" href="{% url 'feed' %}">
                <img src="{% static 'img/logotipo_bizzu.svg' %}" id="nomelogo" href="{% url 'feed' %}">
            </a>
        </div>
    </header>
    <section class="conteudo">
        {% include 'navbarEsquerda.html'%}
        <div class="conteudoPerfil">
            {% block content %}{% endblock %}
        </div>
        <aside class="barraPerfil">
            
            
            <div class="topoLateral">    
            <input type="text" id="buscar" placeholder="Procurar...">
            <a href="{% url 'sair' %}" id="BotaoLink" class="AlertaPrimario">
                <img id="botaoImg" src="{% static "img/desconectar.svg" %}" alt="">
                <p id="botaoP">Sair</p>
            </a>
            </div>
            
            <div class="conteudodireita">
                <div class="informacoesPerfil">
                    <div class="blocoDiv">
                        <div id="blocoInfo">
                            <p class="quantidadeP">  15</p>
                            <p class="tipoP">Curtidas</p>
                        </div>
                        <div id="blocoInfo">
                            <p class="quantidadeP">  99</p>
                            <p class="tipoP">Comentários</p>
                        </div>
                        <div id="blocoInfo">
                            <p class="quantidadeP">  {{usuario.repositorios.count}}</p>
                            <p class="tipoP">Repositórios</p>
                        </div>
                        <div id="blocoInfo">
                            <p class="quantidadeP">  {{ usuario.postagens.count }}</p>
                            <p class="tipoP">Postagens</p>
                        </div>
                </div>
                <hr>
                <div class="academicoDiv">
                    <div class="topico">
                        <p class="perfilAcademico">PERFIL ACÂDEMICO</p>
                    </div>
                    <div class="topico">
                        <img src="{% static 'img/abelha_bizzu.svg' %}" id="iconePerfil">
                        <p class="infosPerfil">Ensino médio: {{ usuario.escolaFormacao }}</p>
                    </div>
                    <div class="topico">
                        <img src="{% static 'img/abelha_bizzu.svg' %}" id="iconePerfil">
                        <p class="infosPerfil">Atual: {{ usuario.instituicaoAtual }}</p>
                    </div>
                    <div class="topico">
                        <img src="{% static 'img/abelha_bizzu.svg' %}" id="iconePerfil">
                        <p class="infosPerfil">Trabalho: {{ usuario.localTrabalho|default:"Não possui" }}</p>
                    </div>
                    <div class="topico">
                        <img src="{% static 'img/abelha_bizzu.svg' %}" id="iconePerfil">
                        <p class="infosPerfil">Progresso: {{ usuario.progressoCurso }}</p>
                    </div>
                </div>
                {% if usuario == request.user %}
                <div class="configuracoes">
                    <div class="topico">
                        <img src="{% static 'img/abelha_bizzu.svg' %}" id="iconePerfil">
                        <p class="config">Configurações</p>
                    </div>
                    <div class="botaoEditar">
                    <div class="topico2">
                        <p class="infosPerfil">Editar Perfil</p>
                        <p class="subP">Edite sua foto, descrição...</p>
                    </div>
                        <a href="{% url 'editarPerfil' %}"><button type="submit" id="BotaoLink" class="EditPrimario" width="100px">
                            <p id="botaoP">Editar</p>
                        </button> </a>
                    </div>

                    <div class="botaoEditar">
                        <div class="topico2">
                            <p class="infosPerfil">Salvos</p>
                            <p class="subP">Seus repositórios favoritos</p>
                        </div>
                            <a href="{% url 'repositorioSalvos' %}"><button type="submit" id="BotaoLink" class="EditPrimario" width="100px">
                                <p id="botaoP">Abrir</p>
                            </button> </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </aside>
    </section>
</body>
</html>
