{% load static %}
<link rel="stylesheet" href="{% static "css/Botao2.css" %}?v=1.2">
<style>
    :root{
        --corBotao: {{corBotao2}};
        --strokeBotao: {{strokeBotao2}};
        --corFonteBotao: {{corFonteBotao2}};
        --cinzaEscuro: #393737 ;
        --cinza: #ACABA4;
    }
    .BotaoLink2{
        background-color: var(--corBotao);
        border: 2px solid;
        border-color: var(--strokeBotao);
    }
    .botaoP2{
        color: var(--corFonteBotao);
    }
</style>

<div class="dropdown">
<a class="BotaoLink2" href="{{linkBotao2}}" >
    <img class="botaoImg2"src="{{iconeBotao2}}" alt="">
    <p class="botaoP2">{{labelBotao2}}</p>
    <img class="botaoImg2"src="{% static "img/icone dropdown.svg" %}" alt=""></a>
    <div class="botaoDrop" onmouseup="dropOrdenar()">
        <a class="linkTopico" href="#"><p class="pTopicos">Mais Recente</p></a>
        <a class="linkTopico" href="#"><p class="pTopicos">Mais Curtido</p></a>
        <a class="linkTopico" href="#"><p class="pTopicos">Mais Comentado</p></a>
    </div>
</div>