<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bizzu</title>
    <link rel="stylesheet" href="{% static 'css/cadastro_perfil.css' %}">
</head>
<body>

    <main class="editarPerfil">
        <button class="voltar">
            <a href="{% url 'perfil' user.username %}">
                <img src="{% static 'img/icones_perfil/voltar.svg' %}" alt="Voltar">
            </a>
            <p>Voltar</p>
        </button>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="alterarFoto">
                <img src="{% if user.imagemPerfil %}{{ user.imagemPerfil.url }}{% else %}{% static 'img/icones_perfil/semFoto.svg' %}{% endif %}" alt="Imagem de Perfil">
                <h3>{{ user.nome }}</h3>
                <p>@{{ user.username }}</p>
                <label for="id_imagemPerfil" class="alterar">Alterar Foto</label>
                {{ form.imagemPerfil }}
            </div>

            <label id="nomeexibido">Nome de exibição</label>
            {{ form.nome }}

            <div class="click">
                <label class="descricao-titulo">Descrição</label>
                {{ form.descricao }}
            </div>

            <div class="click">
                <label class="formacaoA">Formação acadêmica</label>
                {{ form.escolaFormacao }}
            </div>

            <div class="click">
                <div class="divC">
                    <label class="cursoA">Progesso no Curso</label>
                    {{ form.progressoCurso }}
                </div>

                <div class="divI">
                    <label class="instituicaoA">Instituição de ensino</label>
                    {{ form.instituicaoAtual }}
                </div>

            <div class="click">
                    <label class="linkA">Local de trabalho</label>
                    {{ form.localTrabalho }}
            </div>

            <div class="botoes">
                <button type="reset" class="descartar">
                    <img src="{% static 'img/icones_perfil/lixeira.svg' %}" alt="">
                    <p>Descartar</p>
                </button>
                <button type="submit" class="salvar">
                    <img src="{% static 'img/icones_perfil/Save.svg' %}" alt="">
                    <p>Salvar</p>
                </button>
            </div>
        </form>
    </main>

</body>
</html>
