{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styleregister.css' %}">
    <title>Cadastro</title>
</head>
<body>  
    <div class="TELA-DE-CADASTRO">
        <form class="formulario"  action="{% url 'cadastro' %}" method="POST">  {% csrf_token %}
          <div class="logo">
              <img class="abelha" src="{% static 'img/abelha_bizzu.svg' %}">
              <img class="bizzu" src="{% static 'img/logotipo_bizzu.svg' %}">
          </div>
  
          <!-- Campo Nome de Usuário -->
          <label class="campo">
            <div class="vermelho"><span class="text-wrapper">Usuário </span><span class="vermelho">* </span></div>
            <img class="icon" src="../static/img/image16.svg">
            <input
              type="text"
              name="username"
              placeholder="Ex: Jubileu da Silva"
              class="input"
              value="{{ username|default:'' }}" required
            />
          </label>
  
          <!-- Campo Email -->
          <label class="campo">
            <div class="vermelho"><span class="text-wrapper">Email </span><span class="vermelho">* </span></div>
            <img class="icon" src="../static/img/image21.png" />
            <input
              type="email"
              name="email"
              placeholder="Ex: jubileu@gmail.com"
              class="input"
              value="{{ email|default:'' }}" required
            />
          </label>
  
          <!-- Campo Senha -->
          <label class="campo">
            <div class="vermelho"><span class="text-wrapper">Senha </span><span class="vermelho">* </span></div>
            <img class="icon" src="../static/img/image17.png" />
            <input
              type="password"
              name="senha"
              placeholder="Digite sua senha aqui!"
              class="input"
              value="{{ password|default:'' }}" required
            />
          </label>
  
          <!-- Botão de Enviar -->
          <a href="comunidade.html"> <button class="botao-submit">Criar conta</button></a>
        </form>
        <a href="{% url 'login' %}"> <button class="botao-login">Login</button></a>
      </div>

<!-- 
    <form class="form"  action="{% url 'cadastro' %}" method="POST">  {% csrf_token %}
        <input type="text" placeholder="Username..." name="username">
        <br>
        <br>
        <input type="email" placeholder="Email..." name="email">
        <br>
        <br>
        <input type="password" placeholder="Senha..." name="senha">
        <br>
        <br>
        <input type="submit" value="Cadastrar"> -->
   



    
</body>
</html>


