<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/css/stylecomunidade.css">
    <title>Concluir Cadastro</title>
</head>
<body>
    <section class="concluir-cadastro">
        <header>
            <h3>Agora que tal deixar <br> o seu perfil único?</h3>
        </header>

        <div class="tudo">
            <main class="comunidades">
            
                <div class="principais">
                        <img class="primeira" src="img/dentro1.png" alt="TADS">
                        <article class="comunidade">
                        <h2>TADS</h2>
                        <p>Comunidade do curso TADS da diatinf</p>
                        <div class="botao">
                            <span class="seguindo">850 seguindo</span>
                            <button class="seguir">Seguir</button>
                        </div>
                    </article>
                </div>

                <div class="principais">
                    <img class="primeira" src="img/dentro1.png" alt="INFOWEB">
                    <article class="comunidade">
                        <h2>INFOWEB</h2>
                        <p>Comunidade do curso INFOWEB da diatinf</p>
                        <div class="botao">
                            <span class="seguindo">200 seguindo</span>
                            <button class="seguir">Seguir</button>
                        </div>
                    </article>
                </div>

                <div class="principais">
                    <img class="primeira" src="img/dentro1.png" alt="REDES">
                    <article class="comunidade">
                        <h2>REDES</h2>
                        <p>Comunidade do curso REDES da diatinf</p>
                        <div class="botao">
                            <span class="seguindo">15 seguindo</span>
                            <button class="seguir">Seguir</button>
                        </div>
                    </article>
                </div>

            </main>
        </div>

            <!-- Adicionando o botão "Próximo Passo" -->
    <div class="proximo-passo">
        <button>Próximo Passo</button>
    </div>

    
    </section>
</body>
</html>
