{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bizzu</title>
    <link rel="stylesheet" href="{% static 'css/feed.css' %}">
    <link rel="stylesheet" href="{% static "css/navbarRepositorio.css" %}?v=1.8">
    <link rel="stylesheet" href="{% static "css/fotoPerfilNome.css" %}?v=1.2">
    <link rel="stylesheet" href="{% static "css/caixaRepositorio.css" %}?v=1.8">
    <link rel="stylesheet" href="{% static "css/Botao.css" %}?v=1.2">
    <link rel="stylesheet" href="{% static "css/Tags.css" %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/comentarios.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'img/abelha_bizzu.svg' %}">
</head>
<body>
    {% include 'header.html' %}
    <section class="conteudo">
        {% include 'navbarEsquerda.html' with user=user %}
        
        <div class="feed">
            <button id="filtro-btn" class="filtro-btn" onclick="toggleFiltroCategorias()">Filtro ▼</button>

            <!-- Menu de Categorias para Filtro -->
            <div class="menu-categorias" id="menuFiltroCategorias" style="display: none;">
                <div class="abas">
                    <button type="button" class="aba ativa" onclick="mostrarAbaFiltro('materia')">Matéria</button>
                    <button type="button" class="aba" onclick="mostrarAbaFiltro('periodo')">Período</button>
                    <button type="button" class="aba" onclick="mostrarAbaFiltro('tecnologia')">Tecnologia</button>
                </div>

                <div class="conteudo-categorias">
                    <input type="text" id="pesquisaFiltroCategorias" placeholder="🔍 Procurar..." onkeyup="filtrarCategoriasFiltro()">

                    <!-- Matéria -->
                    <div class="lista-categorias filtro-lista" id="materia">
                        {% for categoria in categorias_materia %}
                            <label><input type="checkbox" class="filtro-checkbox" value="{{ categoria.id }}"> {{ categoria.nome }}</label>
                        {% empty %}
                            <p class="mensagem-sem-categorias">Nenhuma categoria disponível.</p>
                        {% endfor %}
                    </div>

                    <!-- Período -->
                    <div class="lista-categorias filtro-lista" id="periodo" style="display: none;">
                        {% for categoria in categorias_periodo %}
                            <label><input type="checkbox" class="filtro-checkbox" value="{{ categoria.id }}"> {{ categoria.nome }}</label>
                        {% empty %}
                            <p class="mensagem-sem-categorias">Nenhuma categoria disponível.</p>
                        {% endfor %}
                    </div>

                    <!-- Tecnologia -->
                    <div class="lista-categorias filtro-lista" id="tecnologia" style="display: none;">
                        {% for categoria in categorias_tecnologia %}
                            <label><input type="checkbox" class="filtro-checkbox" value="{{ categoria.id }}"> {{ categoria.nome }}</label>
                        {% empty %}
                            <p class="mensagem-sem-categorias">Nenhuma categoria disponível.</p>
                        {% endfor %}
                    </div>
                </div>

                <button class="botao-aplicar-filtro" onclick="aplicarFiltro()">✔️ Aplicar Filtro</button>
            </div>


            {% for postagem in postagens %}
            <div class="postagem" data-postagem-id="{{ postagem.id }}" data-categorias="{% for categoria in postagem.categorias.all %}{{ categoria.id }},{% endfor %}">
                <!-- Nome do usuário e hora da postagem -->
                <div class="post-header">
                    <div class="usuario-info">
                    {% if postagem.usuario.imagemPerfil and postagem.usuario.imagemPerfil.url %}
                        <img src="{{ postagem.usuario.imagemPerfil.url }}" alt="Avatar" class="avatar" style="object-fit: cover;">
                    {% else %}
                        <img src="{% static 'img/default-profile.png' %}" alt="Avatar" class="avatar" style="object-fit: cover;">
                    {% endif %}
                    
                        <h3> <a href="{% url 'perfil' username=postagem.usuario.username %}">{{ postagem.usuario.nome }} </a> • <span>{{ postagem.dataPublicacao|date:"d/m/Y H:i" }}</span></h3>
                        <h3 class="comunidade-post">{{ postagem.comunidade }}</h3>
                    </div>
                    <div class="categorias-post">
                        {% for categoria in postagem.categorias.all %}
                            <h4 class="categoria {% if categoria.tipo == 'per' %}periodo{% elif categoria.tipo == 'mat' %}materia{% elif categoria.tipo == 'tec' %}tecnologia{% endif %}">
                                • {{ categoria.nome }}
                            </h4>
                        {% endfor %}
                    </div>
                </div>

                <!-- Texto da postagem -->
                <div class="post-body">
                    <p>{{ postagem.texto }}</p>
                    {% if postagem.imagem %}
                    <img src="{{ postagem.imagem.url }}" alt="Imagem da postagem" class="post-image">
                    {% endif %}
                </div>
                <div class="post-footer">
                    <div class="likes">
                        <a href="{% url 'curtida' postagem.id %}" class="curtir-btn" data-postagem-id="{{ postagem.id }}">
                            <img 
                            width="24px" 
                            class="curtida-icon"
                            data-curtida="{% static 'img/curtidaColor.svg' %}"
                            data-nao-curtida="{% static 'img/curtida.svg' %}"
                            {% if postagem.curtido %}
                                src="{% static 'img/curtidaColor.svg' %}" data-curtido="true"
                            {% else %}
                                src="{% static 'img/curtida.svg' %}"  data-curtido="false"
                            {% endif %}
                        >
                        </a>
                        <span class="curtidas-count">{{ postagem.postagem_curtida.count }} curtidas</span>
                    </div>
                    <div class="comentarios">
                        <button class="comentar-btn" data-postagem-id="{{ postagem.id }}">
                            <img src="{% static 'img/icone_comentar.png' %}" width="24px">
                            <span>Comentar</span>
                        </button>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="postagem-off">Nenhuma postagem disponível no momento.</p>
            {% endfor %}
        </div>

        <aside class="barrarepositorios">
            <div class="conteudodireita">
                <h1 id="titulorep">REPOSITÓRIOS</h1>
                {% for repositorio in repositorios %}
                <div class="repositorioContainer">
                    <div class="headerCaixa">
                        <a class="profile-container" href="{% url 'perfil' repositorio.usuario.username %}">
                            <div class="hexagon">
                                <img src="{{ repositorio.usuario.imagemPerfil.url }}" class="profile-image">
                            </div>
                            <div class="user-info">
                                <span class="username">{{repositorio.usuario|default:"Luiz Fernando"}}</span>
                                <span class="separator">•</span>
                                <span class="timestamp">{{ repositorio.dataPublicacao|timesince }} atrás</span>
                            </div>
                        </a>
                        <form method="GET" action="{% url "verRepositorio" %}" id="form">
                        <button type="submit" id="BotaoLink" class="GeralPrimario" name="repositorio" value={{repositorio.id}}>
                            <p id="botaoP">Abrir</p>
                        </button> 
                    </form>
                    </div>
                    <p class="tituloP">{{repositorio.titulo}}</p>
                    <p class="descricaoP">{{repositorio.descricao}}</p>
                    <div class="container">
                        {% for categoria in repositorio.categorias.all %}
                                    <div class="tag tag-rosa"><img src="/projeto_bizzu/app_bizzu/static/img/iconeTagRosa.svg" class="imgMenu">• {{ categoria.nome }}</div>
                                {% empty %}
                                <div class="tag tag-rosa"><img src="/projeto_bizzu/app_bizzu/static/img/iconeTagRosa.svg" class="imgMenu"></div>
                                <div class="tag tag-azul"><img src="/projeto_bizzu/app_bizzu/static/img/iconeTagAzul.svg" class="imgMenu"> </div>
                                <div class="tag tag-verde"><img src="/projeto_bizzu/app_bizzu/static/img/iconeTagVerde.svg" class="imgMenu"> </div>
                        {% endfor %}
                    </div>

                    {% if repositorio.usuario.username == user.username %}
                    <button class="mais" type="submit">...</button>
                    <div class="dropRepositorio">
                        <form method="GET" action="{% url 'editarRepositorio' repositorio.id %}">
                            {% csrf_token %}
                            <button type="submit" class="optionRepositorio"><img src="{% static 'img/documento.svg' %}" class="dropImg" name="editarRepositorio"> Editar</button>
                        </form>
                        <form method="POST" action="{% url 'excluirRepositorio' %}">
                            {% csrf_token %}
                            <button type="submit" class="optionRepositorio" name='excluir' value="{{repositorio.id}}"><img src="{% static 'img/documento.svg' %}" class="dropImg"> Excluir</button>
                        </form>
                    </div>
                {% endif %}
                </div>
                {% empty %}
                    <p>Nenhum repositório disponível no momento.</p>
                {% endfor %}
            </div>
        </aside>
    </section>
    <script>
        const userImage = "{% if user.is_authenticated and user.imagemPerfil %}{{ user.imagemPerfil.url }}{% else %}{% static 'img/default-profile.png' %}{% endif %}";

        document.addEventListener("DOMContentLoaded", function () {
            // Garante que o ícone esteja correto ao carregar a página
            document.querySelectorAll(".curtida-icon").forEach((icone) => {
                if (icone.getAttribute("data-curtido") === "true") {
                    icone.src = icone.getAttribute("data-curtida"); // Ícone colorido
                } else {
                    icone.src = icone.getAttribute("data-nao-curtida"); // Ícone padrão
                }
            });

            // Adiciona evento de clique para curtidas
            document.querySelectorAll('.curtir-btn').forEach(button => {
                button.addEventListener('click', function(event) {
                    event.preventDefault();  // Evita o redirecionamento

                    const postagemId = this.getAttribute('data-postagem-id'); // Obtém o ID
                    const icone = this.querySelector('.curtida-icon'); // Ícone da curtida
                    const contador = this.closest('.likes')?.querySelector('.curtidas-count'); // Contador de curtidas

                    fetch(`/curtida/${postagemId}/`, {
                        method: 'GET',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',  // CSRF Token
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.curtidas !== undefined) {
                            console.log("Curtidas recebidas do servidor:", data.curtidas); // DEBUG
                            
                            if (contador) {
                                contador.innerHTML = `${data.curtidas} curtidas`; // **Atualiza o contador**
                            }

                            // Atualiza o ícone com base no status da curtida
                            if (data.curtiu) {
                                icone.src = icone.getAttribute('data-curtida'); // Ícone colorido
                                icone.setAttribute("data-curtido", "true");
                            } else {
                                icone.src = icone.getAttribute('data-nao-curtida'); // Ícone normal
                                icone.setAttribute("data-curtido", "false");
                            }
                        } else {
                            console.error('Erro: Resposta inválida do servidor.');
                        }
                    })
                    .catch(error => {
                        console.error('Erro ao curtir a postagem:', error);
                    });
                });
            });
        });


    </script>

    <script src="{% static 'js/comentarios.js' %}"></script>
    <script src="{% static 'js/modalRepositorio.js' %}?v=1.3"></script>
    <script src="{% static 'js/filtro.js' %}"></script>
    
</body>
</html>
