{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bizzu</title>
    <link rel="stylesheet" href="{% static 'css/feed.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'img/abelha_bizzu.svg' %}">
</head>
<body>
    {% include 'headerDeslogado.html' %}
    <section class="conteudo">
        {% include 'navbarEsquerdaDeslogado.html' %}
        
        <div class="feed">
            {% for postagem in postagens %}
            <div class="postagem">
                <!-- Nome do usuário e hora da postagem -->
                <div class="post-header">
                    <div class="user-info">
                    {% if postagem.usuario.imagemPerfil and postagem.usuario.imagemPerfil.url %}
                        <img src="{{ postagem.usuario.imagemPerfil.url }}" alt="Avatar" class="avatar" style="object-fit: cover;">
                    {% else %}
                        <img src="{% static 'img/default-profile.png' %}" alt="Avatar" class="avatar" style="object-fit: cover;">
                    {% endif %}
                    
                        <h3> <a href="{% url 'perfil' username=postagem.usuario.username %}">{{ postagem.usuario.nome }} </a> • <span>{{ postagem.dataPublicacao|date:"d/m/Y H:i" }}</span></h3>
                        <h3 class="comunidade-post">{{ postagem.comunidade }}</h3>
                    </div>
                    <div class="categorias-post">
                        {% for categoria in postagem.categorias.all %}
                            <h4 class="categoria {% if categoria.tipo == 'per' %}periodo{% elif categoria.tipo == 'mat' %}materia{% elif categoria.tipo == 'tec' %}tecnologia{% endif %}">
                                • {{ categoria.nome }}
                            </h4>
                        {% endfor %}
                    </div>
                </div>

                <!-- Texto da postagem -->
                <div class="post-body">
                    <p>{{ postagem.texto }}</p>
                    {% if postagem.imagem %}
                    <img src="{{ postagem.imagem.url }}" alt="Imagem da postagem" class="post-image">
                    {% endif %}
                </div>
                <div class="post-footer">
                    <div class="likes">
                        <a href="{% url 'curtida' postagem.id %}" id="curtir-btn"><img src="{% static 'img/curtida.svg' %}" width="24px"></a>
                        <span>{{postagem.curtidas}} <a href="#">curtidas</a></span>
                    </div>
                    <div class="comentarios">
                        <button id="comentar-btn"><img src="{% static 'img/icone_comentar.png' %}" width="24px">Comentar</button>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>Nenhuma postagem disponível no momento.</p>
            {% endfor %}
        </div>

        {% include 'navbarRepositorios.html' %}
    </section>
</body>
</html>
