{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bizzu</title>
    <link rel="stylesheet" href="{% static "css/Botao.css" %}">
    <link rel="stylesheet" href="{% static "css/Input.css" %}?v=1.1">
</head>
<body>
    <h1>Olá</h1>
    {% include 'Cabecalho.html' %}
    <div class="caixaInput">
        <p class="inputP">Senha</p>
        <div class="input">
            <img class="inputImg" src="{% static "img/desconectar.svg" %}?v=1.1" alt="">
            <input class="entrada" type="text" placeholder="Digite sua senha" >
        </div>
    </div>
</body>
</html>