{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

<div class="profile-container">
    <div class="hexagon">
        <img src="{{usuarioFotoPerfilUrl}}" class="profile-image">
    </div>
    <div class="user-info">
        <span class="username">{{usuarionome|default:"Luiz Fernando"}}</span>
        <span class="separator">•</span>
        <span class="timestamp">{{posttempo_postagem|default:"4h atrás"}}</span>
    </div>
</div>