{% load static %}
<link rel="stylesheet" href="{% static "css/fotoPerfilNome.css" %}?v=1.2">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

<div class="profile-container">
    <div class="hexagon">
        <img src="{{usuario.foto_perfil.url|default:'https://via.placeholder.com/32'}}" class="profile-image">
    </div>
    <div class="user-info">
        <span class="username">{{usuario.nome|default:"Luiz Fernando"}}</span>
        <span class="separator">•</span>
        <span class="timestamp">{{post.tempo_postagem|default:"4h atrás"}}</span>
    </div>
</div>