{% load static %}
<link rel="stylesheet" href="{% static "css/header.css" %}">

<header>
    <div class="logo">
        <img src="{% static 'img/abelha_bizzu_marrom.svg' %}" id="abelhalogo" href="/">
        <img src="{% static 'img/logotipo_bizzu.svg' %}" id="nomelogo" href="">
    </div>
    <!-- {% include 'barraPesquisa.html' %} -->
    <input type="text" id="buscar" placeholder="Procurar...">
    <a href=""><button id="sair"><img src="{% static 'img/entrar.svg' %}" id="sairbtn">Sair</button></a>
</header>