{% load static %}

<link rel="stylesheet" href="{% static "css/navbarEsquerda2.css" %}">

<aside id="barralateral">
    <div class="perfil">
        {% if user.imagemPerfil %}
            <img class="imgperfil" src="{{ user.imagemPerfil.url }}">
        {% else %}
            <img class="imgperfil" src="{% static 'img/default-profile.png' %}">
        {% endif %}


        <div class="perfil2">
            <h2 id="userperfil">@{{ user.username }}</h2> <!-- mudar para nome depois {% url 'perfil' user.username %}--> 
            <h4 id="verperfil"><a href="{% url 'perfil' user.username %}">Ver perfil</a></h4>
        </div>
    </div>

    <ul>
        <div class="paginas">
            <li><img src="{% static 'img/casa_branco.svg' %}" width="35px"><a href="{% url 'feed' %}">Página Inicial</a></li>
            <li><img src="{% static 'img/voce_segue_branco.svg' %}" width="35px"><a href="{% url 'feed_seguidos' %}">Você segue</a></li>
            <li class="dropdown">
                <img src="{% static 'img/comunidades_branco.svg' %}" width="35px">
                <a href="#">Comunidades</a>
                <img class="seta-dropdown" src="{% static 'img/icone dropdown.svg' %}">
            
                <div class="dropdown-menu">
                    {% for comunidade in comunidades %}
                        <div class="cursos">
                            <img src="{{ comunidade.imagem.url }}" alt="{{ comunidade.nome }}" class="cursos-imagem">
                            <div class="cursos-conteudo">
                                <h3>{{ comunidade.nome }}</h3>
                                <p>{{ comunidade.descricao }}</p>
                                <a href="{% url 'perfil_comunidade' comunidade.nome %}">
                                    <button class="vermais-btn">Ver mais</button>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </li>
        </div>
    </ul>
</aside>
