{%load static%}
<link rel="stylesheet" href="{% static "css/Selector.css" %}?v=1.2">
<link rel="stylesheet" href="{% static "css/PagCriarRepositorio.css" %}?v=1.2">
<link rel="stylesheet" href="{% static "css/textarea.css" %}?v=1.3">
<link rel="stylesheet" href="{% static "css/Botao.css" %}?v=1.2">
<link rel="stylesheet" href="{% static "css/navbarRepositorio.css" %}">
<link rel="stylesheet" href="{% static "css/fotoPerfilNome.css" %}?v=1.2">
<link rel="stylesheet" href="{% static "css/caixaRepositorio.css" %}?v=1.3">
<link rel="stylesheet" href="{% static "css/Tags.css" %}?v=1.2">

<body>
    {% include 'header.html' %}
    <section class="pagCriarRepositorioContainer">
        {% include 'navbarEsquerda.html' %}
        <div class="pagCriarRepositorio">
            <a id="BotaoLink" class="voltar" href="#">
                <img id="botaoImg"src="{% static "img/Voltar.svg" %}" alt="">
                <p id="botaoP">Voltar</p>
            </a>
            <h1 class="novoRepositorioH1">Novo Repositório</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <select id="opcao" name="opcao" required>
                    <option value="">Selcione a comunidade</option>
                    <option value="TADS">TADS</option>
                    <option value="INFOWEB">INFOWEB</option>
                    <option value="Redes">Redes</option>
                </select>
                <div class="text">
                    <p class="textLabel" for="titulo">Título</p>
                    <input type="text" class="textArea" rows="1" cols="30" placeholder="Digite o título do seu repositório..." name="titulo" required />
                </div>
                <select id="opcao2" name="categoria">
                    <option value="">Categoria</option>
                    <option value="tads">Período</option>
                    <option value="info">Tecnologia</option>
                    <option value="redes">Matéria</option>
                </select>
                <div class="text">
                    <p class="textLabel" for="descricao">Descrição</p>
                    <input type="text" class="textArea" placeholder="Digite a descrição do seu repositório..." name="descricao" required/>
                </div>
                <p class="arquivoP">Arquivos</p>
                <input type="file" name="arquivo" id="file-upload"/>
                
                <div class="footerRepositorio">
                    <button type="submit" id="BotaoLink" class="AlertaPrimario">
                        <img id="botaoImg"src="{% static "img/desconectar.svg" %}" alt="">
                        <p id="botaoP">Descartar</p>
                    </button>          
                    <button type="submit" id="BotaoLink" class="PerfilPrimario">
                        <img id="botaoImg"src="{% static "img/desconectar.svg" %}" alt="">
                        <p id="botaoP">Postar</p>
                    </button>                       
                </div>
            </form>
        </div>
    </div>
    <aside class="barrarepositorios">
        <div class="conteudodireita">
            <h1 id="titulorep">REPOSITÓRIOS</h1>
            {% for repositorio in repositorios %}
            <div class="repositorioContainer">
                <div class="headerCaixa">
                    <div class="profile-container">
                        <div class="hexagon">
                            <img src="{{usuarioFotoPerfilUrl}}" class="profile-image">
                        </div>
                        <div class="user-info">
                            <span class="username">{{repositorio.usuario.nome|default:"Luiz Fernando"}}</span>
                            <span class="separator">•</span>
                            <span class="timestamp">{{repositorio.dataPublicacao|default:"4h atrás"}}</span>
                        </div>
                    </div>
                    <form method="GET" action="{% url "verRepositorio" %}">
                    <button type="submit" id="BotaoLink" class="GeralPrimario" name="repositorio" value={{repositorio.id}}>
                        <p id="botaoP">Abrir</p>
                    </button> 
                </form>
                </div>
                <p class="tituloP">{{repositorio.titulo}}</p>
                <p class="descricaoP">{{repositorio.descricao}}</p>
                <div class="container">
                    <div class="tag tag-rosa"><img src="/projeto_bizzu/app_bizzu/static/img/iconeTagRosa.svg" class="imgMenu"> Período</div>
                    <div class="tag tag-azul"><img src="/projeto_bizzu/app_bizzu/static/img/iconeTagAzul.svg" class="imgMenu"> Matéria</div>
                    <div class="tag tag-verde"><img src="/projeto_bizzu/app_bizzu/static/img/iconeTagVerde.svg" class="imgMenu"> Tecnologia</div>
                </div>
            </div>
            {% empty %}
                <p>Nenhum repositório disponível no momento.</p>
            {% endfor %}
        </div>
    </aside>
    </section>
    
    </section>
    
</body>