{%load static%}
<link rel="stylesheet" href="{% static "css/Botao.css" %}">
<link rel="stylesheet" href="{% static "css/PagRepositorio.css" %}">
<div class="pagRepositorio">
    <div class="headerRepositorio">
        <a id="BotaoLink" class="voltar" href="#">
            <img id="botaoImg"src="{% static "img/desconectar.svg" %}" alt="">
            <p id="botaoP">Voltar</p>
        </a>
    </div>
    <h1 class="repositorioH">Nome</h1>
    <p class="repositorioP">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus aperiam nemo animi ipsam, reiciendis corporis eius facere quaerat aliquid placeat vel debitis quidem, sed eaque iure corrupti temporibus quae eveniet?</p>
    <div class="footerRepositorio">
        <a id="BotaoLink" class="GeralSecundario" href="#">
            <p id="botaoP">Favoritar</p>
        </a>
        <a id="BotaoLink" class="GeralSecundario" href="#">
            <p id="botaoP">Baixar</p>
        </a>
    </div> 
</div>