{%load static%}
<link rel="stylesheet" href="{% static "css/Botao.css" %}?v=1.3">
<link rel="stylesheet" href="{% static "css/PagRepositorio.css" %}?v=1.3">
<link rel="stylesheet" href="{% static "css/tabela_repositorio.css" %}?v=1.3">
<link rel="stylesheet" href="{% static "css/navbarRepositorio.css" %}">
<link rel="stylesheet" href="{% static "css/fotoPerfilNome.css" %}?v=1.2">
<link rel="stylesheet" href="{% static "css/caixaRepositorio.css" %}?v=1.8">
<link rel="stylesheet" href="{% static "css/Tags.css" %}?v=1.2">

<body>
    {% include 'header.html' %}
    <section class="pagRepositorioContainer">
        {% include 'navbarEsquerda.html' %}
        <div class="pagRepositorio">
            <div class="headerRepositorio">
                <a id="BotaoLink" class="voltar" href="{% url 'feed' %}">
                    <img id="botaoImg" src="{% static 'img/Voltar.svg' %}" alt="">
                    <p id="botaoP">Voltar</p>
                </a>
            </div>
            <h1 class="repositorioH">{{ repositorioAtual.titulo }}</h1>
            <p class="repositorioP">{{ repositorioAtual.descricao }}</p>

            <table class="tabela">
                <tr class="tabela_linha">
                    <th>
                        <!-- foto de perfil + nome -->
                        <div class="profile-container">
                            <div class="hexagon">
                                <img src="{{ usuario.foto_perfil.url|default:'https://via.placeholder.com/32' }}" class="profile-image">
                            </div>
                            <div class="user-info">
                                <span class="username">{{ repositorioAtual.usuario.username|default:"Sem nome" }}</span>
                                <span class="separator">•</span>
                                <span class="timestamp">{{ repositorioAtual.dataPublicacao|date:"H:i" }}</span>
                            </div>

                            <!-- tags -->
                            <div class="container">
                                {% for categoria in repositorioAtual.categorias.all %}
                                    <div class="tag">
                                        <div class="tag tag-rosa"><img src="/projeto_bizzu/app_bizzu/static/img/iconeTagRosa.svg" class="imgMenu">{{ categoria.nome }}</div>
                                    </div>
                                {% empty %}
                                    <div class="tag">Sem categorias</div>
                                {% endfor %}
                            </div>
                            <!-- tags -->
                        </div>
                    </th>
                </tr>

                <!-- Exibindo arquivos do repositório -->
                {% if repositorioAtual.arquivos.exists %}
                    {% for arquivo in repositorioAtual.arquivos.all %}
                        <tr class="tabela_linha">
                            <td>
                                <img src="{% static 'img/documento.svg' %}" alt="Ícone" class="icone_pasta">
                                <a id="linkArquivo" href="{{ arquivo.arquivo.url }}" target="_blank">{{ arquivo.arquivo.name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="tabela_linha">
                        <td>
                            <img src="{% static 'img/pasta.png' %}" alt="Ícone" class="icone_pasta">
                            <a id="linkArquivo" href="#" target="_blank">Não possui arquivos nesse repositório</a>
                        </td>
                    </tr>
                {% endif %}
            </table>

            <div class="footerRepositorio">
                <form method="POST" action="{% url 'verRepositorio' %}">
                    {% csrf_token %}
                    <button type="submit" id="BotaoLink" class="GeralSecundario" name="repositoriosFavoritados" value="{{ repositorioAtual.id }}">
                        <p id="botaoP">Favoritar</p>
                    </button>
                </form>
                <a href="{{ repositorioAtual.arquivos.first.arquivo.url }}" download id="download" name="baixar" >
                    <button type="submit" id="BotaoLink" class="GeralSecundario">
                        <p id="botaoP">Baixar</p>
                    </button>
                </a>
            </div>
        </div>
    <aside class="barrarepositorios">
        <div class="conteudodireita">
            <h1 id="titulorep">REPOSITÓRIOS</h1>
            {% for repositorio in repositorios %}
            <div class="repositorioContainer">
                <div class="headerCaixa">
                    <div class="profile-container">
                        <div class="hexagon">
                            <img src="{{usuarioFotoPerfilUrl}}" class="profile-image">
                        </div>
                        <div class="user-info">
                            <span class="username">{{repositorio.usuario|default:"Luiz Fernando"}}</span>
                            <span class="separator">•</span>
                            <span class="timestamp">{{repositorio.dataPublicacao|default:"4h atrás"}}</span>
                        </div>
                    </div>
                    <form method="GET" action="{% url "verRepositorio" %}">
                    <button type="submit" id="BotaoLink" class="GeralPrimario" name="repositorio" value={{repositorio.id}}>
                        <p id="botaoP">Abrir</p>
                    </button> 
                </form>
                </div>
                <p class="tituloP">{{repositorio.titulo}}</p>
                <p class="descricaoP">{{repositorio.descricao}}</p>
                <div class="container">
                    {% for categoria in repositorio.categorias.all %}
                                <div class="tag tag-rosa"><img src="/projeto_bizzu/app_bizzu/static/img/iconeTagRosa.svg" class="imgMenu">{{ categoria.nome }}</div>
                            {% empty %}
                            <div class="tag tag-rosa"><img src="/projeto_bizzu/app_bizzu/static/img/iconeTagRosa.svg" class="imgMenu"></div>
                            <div class="tag tag-azul"><img src="/projeto_bizzu/app_bizzu/static/img/iconeTagAzul.svg" class="imgMenu"> </div>
                            <div class="tag tag-verde"><img src="/projeto_bizzu/app_bizzu/static/img/iconeTagVerde.svg" class="imgMenu"> </div>
                    {% endfor %}
                </div>
                <!-- Só aparece opção para editar e excluir para aquele usuário especifico -->
                {% if repositorio.usuario.username == usuario.username %}
                    <button class="mais" type="submit">...</button>
                    <div class="dropRepositorio">
                        <form method="DELETE"><a href="#" class="optionRepositorio"><img src="{% static 'img/documento.svg' %}" class="dropImg" name="editarRepositorio" value="{{repositorioAtual.id}}"> Editar</a></form>
                        <a href="#" class="optionRepositorio"><img src="{% static 'img/documento.svg' %}" class="dropImg" name="excluirRepositorio" > Excluír</a>
                    </div>
                {% endif %}
            </div>
            {% empty %}
                <p>Nenhum repositório disponível no momento.</p>
            {% endfor %}
        </div>
    </aside>
    </section>
    
    </section>
    
    <script src="{% static 'js/modalRepositorio.js' %}"></script>
</body>
