{% load static %}
<link rel="stylesheet" href="{% static "css/Cabecalho.css" %}?v=1.1">

<div class="cabecalho">
    <div class="postagensDiv">
        <img class="cabecalhoImg" src="static/img/desconectar.svg" alt="">
        <p class="cabecalhoP">Postagens</p>
    </div>
    <div class="repositorioDiv">
        <img class="cabecalhoImg" src="static/img/desconectar.svg" alt="">
        <p class="cabecalhoP">Repositórios</p>
    </div>
    <div class="comentariosDiv">
        <img class="cabecalhoImg" src="static/img/desconectar.svg" alt="">
        <p class="cabecalhoP">Comentários</p>
    </div>
</div>