.BotaoLink:hover{
    background-color: var(--cinza);
}
.BotaoLink{
    height: auto;
    max-height: 27px;
    display: flex;
    text-decoration: none;
    width: fit-content;
    border-radius: 30px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    white-space: nowrap;
    justify-self: right;
}
.botaoImg{
    width: 20%;
    height: auto;
    padding-right: 8px;
   
}
.botaoP{
    font-size: 1.1vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}