#BotaoLink:hover{
    background-color: #ACABA4;
}
#BotaoLink#BotaoLink.voltar:hover{
    background-color: #058b9200;
}
#BotaoLink{
    height: 40px;
    display: flex;
    width: fit-content;
    border-radius: 30px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 3%;
    text-decoration: none;
    outline: none;
}
button{
    background-color: #ffffff00;
    outline: none;
    border-radius: 30px;
    border-color: #058b9200;
}
#botaoImg{
    width: 40%;
    max-height: 20px;
    height: auto;
    padding-right: 8px;
}
#botaoP{
    font-size: 1.1vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.AlertaPrimario{
    background-color: #9D0707;
    color: white;
}

#BotaoLink.GeralPrimario{
    background-color: #F79010 ;
    color: white;
    width: 100px;
    height: 35px;
    /* padding-left: 5%; 
    padding-right: 5%; */
}

#BotaoLink.GeralSecundario{
    border: 1px solid;
    border-color: #F79010 ;
    color: #F79010;
    padding: 0;
    padding-left: 3%;
    padding-right: 3%;
} 


.EditPrimario{
    background-color: #ACABA4;
    color: white;
}

#BotaoLink.EditSecundario{
    border: 1px solid;
    border-color: #ACABA4;
    color: #ACABA4;
    max-height: 15px;
    padding-left: 4%;
    padding-right: 4%;
} 

.PerfilPrimario{
    background-color: #058B92;
    color: white;
}

#BotaoLink.PerfilSecundario{
    border: 1px solid;
    border-color: #058B92;
    color: #058B92;
    max-height: 20px;
    padding-left: 5%;
    padding-right: 5%;
 } 

 #BotaoLink.voltar{
    color: white;
    justify-content: left;
    width: 15%;
}



