.cabecalho{
    display: flex;
    padding: 2px;
    width: 30%;
    max-width: 100%;
    justify-content: space-between;
}
.cabecalhoImg{
    width: 17%;
    height: auto;
}

.cabecalhoP{
    color: var(--preto);
    font-size: 1.1vw;
    padding: 2px;
    margin: 0;
    padding: 5%;
    
}
.postagensDiv{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 5px;
    align-items: center;
}
.repositorioDiv{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 5px;
    align-items: center;
}
.comentariosDiv{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 5px;
    align-items: center;
}