@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --laranja: #F79010 ;
    --amarelo: #F7C110 ;
    --verdeAgua: #058B92 ;
    --cinzaEscuro: #393737 ;
    --vermelho: #9D0707 ;
    --marromEscuro: #27211B ;
    --amareloClaro: #DCCEB1 ;
    --preto: #1B1A19 ;
    --branco: #FFFFFF;
    --cinza: #ACABA4;
    --amareloEscuro: #B5862E;
}

body{
    background-color: #27211B;
    width: 100%;
    height: calc(100vh - 70px);
}