@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #F79010;
    --primary-color-dark: #1F1C19;
    --secondary-color: #058B92;
    --text-dark: Black;
    --text-light: white;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #DCCEB1;
    display: flex;
    align-items: center;
    padding-left: 30px;
    justify-content: space-between;
}

.logo {
    display: flex;
}

#abelhalogo {
    width: 120px;
    /* z-index: -1; */
    margin-left: -30px;
}

#nomelogo {
   width: 130px;
   margin-left: -30px;
}

#buscar {
    display: flex;
    align-items: center;
    border: 0;
    box-shadow: 0 3px 5px black;
    border-radius: 25px;
    width: 468px;
    height: 46px;
    background-color: rgb(98, 97, 97, 0.3);
    background-image: url(../img/lupa.svg);
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 5% 50%;
    margin-right: 330px;
    padding-left: 60px;
    color: white;
}

#buscar::placeholder {
    font-weight: 300;
    font-size: 18px;
    color: rgb(255, 255, 255, 0.5);
}

#btn-abrir-modal {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 40px;
    width: 110px;
    height: 38px;
    background-color: #F79010;
    color: white;
    font-weight: 500;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 3px 10px black;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#btn-abrir-modal a {
    list-style: none;
    color: white;
    font-weight: 400;
    text-decoration: none;
}

#btn-abrir-modal:hover {
    background-color: gray;
}

#entrarbtn {
    padding-left: 6px;
    margin-right: 6px;
}

header a button img{
    text-decoration: none;
}

a {
    text-decoration: none; /* Remove sublinhados padrão */
}

a:focus, 
a:active, 
a:hover, 
a:visited {
    outline: none; /* Remove a borda azul */
    text-decoration: none; /* Remove sublinhado em todos os estados */
}

#entrar {
    text-decoration: none; /* Garante que o botão também não herde sublinhado */
}

#entrar:focus {
    outline: none;
    box-shadow: none; /* Remove qualquer sombra */
}

/* POP UP DE LOGIN */

/* Modal estilizado */
#popup-login {
    background-color: #1F1C19;
    border: 5px solid #FFB701;
    border-radius: 30px;
    color: white;
    box-shadow: 0 3px 10px black;
    padding: 40px;
    width: 548px;
    height: 640px;
    margin: auto;
    position: relative;
    text-align: center;
    font-family: Arial, sans-serif;
}

#popup-login::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

#popup-login h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
}

#popup-login p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #E0E0E0;
    margin-bottom: 20px;
}

#popup-login p {
    color: white;
    text-decoration: none;
}

#popup-login a {
    color: #FFB701;
    text-decoration: underline;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: 300;
    font-size: 18px;
    color: white;
    margin-bottom: 3px;
}

.form-group .required {
    color: #9D0707;
    margin-left: 5px;
}

.form-group input {
    width: 450px;
    padding: 10px;
    font-size: 14px;
    border-radius: 20px;
    border: 4px solid var(--primary-color);
    background-color: white;
    color: black;
    box-shadow: 0 3px 10px black;
}

.form-group input::placeholder {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}

.forgot-password {
    display: block;
    font-size: 14px;
    color: #FFB701;
    text-decoration: none;
    margin-bottom: 20px;
}

.concluir-login {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    gap: 10px; /* Espaçamento entre o texto e o ícone */
    margin: auto;
    background-color: var(--primary-color);
    width: 450px;
    height: 61px;
    border-radius: 25px;
    box-shadow: 0 3px 10px black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.concluir-login img {
    width: 24px; /* Tamanho do ícone */
    height: 24px;
}

.concluir-login:hover {
    background-color: #FFC533;
}

#popup-login h3 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

#popup-login h3 a {
    color: #FFB701;
}

.fechar-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
}

.fechar-popup img {
    width: 20px;
    height: 20px;
}

hr {
    margin-bottom: 30px;
}