
    .menu-horizontal-container {
        display: flex;
        align-items: center;
        gap: 20px;
        font-family: poppins;
        font-size: 2.2vh;
        margin-left: 22vh;
    }

    .menuHorizontal {
        display: flex;
        align-items: center;
        gap: 2vh;
        padding: 1vh 2vh;
        border-radius: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        position: relative;
        color:#ACABA4;
    }

    .imgMenu {
        width: 3vh;
        height: 3vh;
    }

    .imgMenu.hover {
        background-image: url('projeto_bizzu/app_bizzu/static/img/imagemComentario.svg');
        display: none;
    }

    .menuHorizontal:hover .imgMenu.default {
        display: none;
    }

    .menuHorizontal:hover .imgMenu.hover {
        display: block;
    }

    .menuHorizontal:hover {
        background-color: #F79010;
        color: white;
    }
