@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #F79010;
    --primary-color-dark: #1F1C19;
    --secondary-color: #058B92;
    --text-dark: Black;
    --text-light: white;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* ESTLIZAÇÃO */

.barrarepositorios {  
    flex: 2;
    position: fixed;
    right: 0;
    width: 510px;
    height: calc(100vh - 75px);
    color: white;
    padding: 20px;
    border-left: 1px solid #DCCEB1;
    background-color: #27211B;
  }

  .conteudodireita {
    background-color: rgb(16, 15, 15, 0.6);
    /* margin: auto; */
    margin-top: 15px;
    width: 472px;
    height: 97%;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color-dark) var(--primary-color);
  }

  #titulorep {
    text-align: center;
    padding-top: 20px;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 40px;
  }

  .rep1, .rep2, .rep3 {
    margin: auto;
    padding: 10px;
    width: 395px;
    height: 216px;
    border-radius: 25px;
    border: 2px solid #F79010;
    margin-bottom: 40px;
  }
  
  #fotorep1 {
    margin-left: 5px;
    width: 34px;
    height: 34px;
  }
  
  #titulorep1 {
    margin-left: 10px;
    font-weight: 100;
    font-size: 15px;
  }

  .toporep1 {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .abrirrep {
    position: relative;
    align-items: center;
    margin-left: 117px;
    width: 90px;
    height: 30px;
    border-radius: 25px;
    color: white;
    background-color: #F79010;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    border: 0;
    box-shadow: 0 3px 10px black;
  }

  .abrirrep:hover {
    background-color: gray;
  }

  .conteudorep1 {
      margin-left: 5px;
      margin-top: 10px;
  }

  .conteudorep1 h1{
    font-weight:500;
  }

  #titulorep1 {
      font-weight: 600;
  }

  #subtitulorep1 {
    font-weight: 100;
    font-size: 14px;
    width: 280px;
    padding-bottom: 60px;
  }

  .categoriasrep1 {
    display: flex;
    margin-left: 5px;
  }

  .categoriasrep1 h6 {
    display: flex;
    margin-top: 1px;
    font-weight: 300;
    padding-right: 30px;
    margin-left: 3px; 
  }

  #subtitulorep3 {
    font-weight: 100;
    font-size: 14px;
    width: 280px;
    padding-bottom: 74px;
  }

  /* Responsividade */
@media (max-width: 768px) {
    
  .barrarepositorios {
      display: hidden;
  }
}