img {
    width: 100%;
    height: 50px;
    display: inline;
    object-fit: contain;
    object-position: left;
    padding-bottom: 10px;
    display: flex;
}
header{
    position: fixed;
    height: 100%;
    display: inline;
    border-right: 1px solid #DCCEB1;
    justify-content: space-between;
    
}
.perfil {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.perfil2 {
    margin-left: 10px;
}

#userperfil {
    padding-top: 5px;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

#verperfil {
    font-weight: 200;
    font-size: 15px;
}

#verperfil a {
    text-decoration: none;
    color: #DCCEB1;
}