@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #F79010;
    --primary-color-dark: #1F1C19;
    --secondary-color: #058B92;
    --text-dark: Black;
    --text-light: white;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}


.barraPerfil{  
    flex: 2;
    position: fixed;
    right: 0;
    width: 450px;
    height: calc(100vh - 75px);
    color: white;
    border-left: 1px solid #DCCEB1;
    background-color: #27211B;
    padding: 20px;
  }

  .conteudodireita {
    margin: auto;
    background-color: rgb(16, 15, 15, 0.6);
    width: 90%;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 20px;  
  }

  .topoLateral {
    margin: 0 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
  }

  #buscar {
    padding-left: 15px;
    display: flex;
    align-items: center;
    width: 60%;
    border: 0;
    box-shadow: 0 3px 5px black;
    border-radius: 25px;
    height: 38px;
    background-color: rgb(98, 97, 97, 0.3);
    background-image: url(../img/lupa.svg);
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    color: white;
}

#buscar::placeholder {
    font-weight: 300;
    font-size: 18px;
    color: rgb(255, 255, 255, 0.5);
}

.informacoesPerfil{
  display: flex;
  flex-direction: column;
}

.quantidadeP{
  color: white;
  font-size: 1.1vw;
}

.tipoP{
  color: #ACABA4;
  font-size: 1vw;
}

.blocoDiv{
    display: flex;
    flex-wrap: wrap;   
    padding-bottom: 20px;
}

#blocoInfo{
  display: flex;
  flex-direction: column;
  width: 40%;
}

#iconePerfil{
  width: 20%;
  height: auto; 
}

.perfilAcademico{
    padding-left: 20px;
    font-size: 1.1vw;
    margin: 0;
    color: white;
    font-weight: 600;
}

.config {
    color: white;
    font-weight: 600;
    font-size: 1.1vw;
}

.academicoDiv{
  display: flex;
  margin-top: 10px;
  flex-direction: column;

}

.infosPerfil{
  font-weight: 200;  
  font-size: 16px;
  margin: 0;
  color: white;
}

.topico{
  display: flex;
  align-items: center;
  align-content: center;
}

.configuracoes {
  background-color: #acaba485;
  width: 100%;
  margin-top: 20px;
  height: 10%;
  justify-items: center;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding-top: 10px;
}

.subP{
  display: flex;
  font-size: 0.8vw;
  margin: 0;
  color: #acaba4;
  margin: 0;
  display: block;  
}

.topico2{
  display: flex;
  flex-direction: column;
  /* justify-self: left; */
}
.salvosP{
  font-size: 1vw;
  font-weight: 600;
  margin: 0;
  color: white;
}
.salvos{
  width: 25%;
  margin-right: 10px;
}
.topico3{ 
  display: flex;
  text-decoration: none;
  outline: none;
  justify-self: left;
  padding-left: 20px;
  margin-bottom: 20px;
}
.botaoEditar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 20px;
}
