.links-importantes {
    display: flex; 
    gap: 10px; 
    margin-left: 20px; 
    margin-top: 5px;
}

.links-importantes a {
    text-decoration: none; 
}

.botao-doc {
    background-color: none; 
    color: #058B92;
    border: 1px solid #058B92; 
    padding: 10px 20px; 
    border-radius: 10px; 
    font-size: 14px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.botao-doc:hover {
    color: #F79010;
    border: 1px solid #F79010;
    transform: translateY(-2px); 
}
.botao-doc:active {
    background-color: #058B92;
    transform: translateY(0);
}

.botao-doc:focus {
    outline: none; 
}

.botoes-comunidades {
    display: flex; 
    gap: 10px; 
    margin-left: 20px; 
}

.botoes-comunidades a {
    text-decoration: none; 
}

.comunidade-item {
    display: flex;
    align-items: center; 
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.comunidade-imagem {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px; 
}

.comunidade-info {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.comunidade-nome {
    font-size: 18px;
    font-weight: bold;
    color: #e2e1e1;
    margin-bottom: 5px; 
}

.comunidade-descricao {
    font-size: 14px;
    color: #e2e1e1;
    margin: 0; 
}

.comunidade-botao {
    margin-left: 20px; 
}