.links-importantes {
    display: flex; 
    gap: 10px; 
    margin-left: 20px; 
    margin-top: 5px;
}

.links-importantes a {
    text-decoration: none; 
}

.botao-doc {
    background-color: none; 
    color: #058B92;
    border: 1px solid #058B92; 
    padding: 10px 20px; 
    border-radius: 10px; 
    font-size: 14px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.botao-doc:hover {
    color: #F79010;
    border: 1px solid #F79010;
    transform: translateY(-2px); 
}
.botao-doc:active {
    background-color: #058B92;
    transform: translateY(0);
}

.botao-doc:focus {
    outline: none; 
}

.outra-comunidade img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}



