body {
    font-family: 'Poppins', sans-serif; /* Aplica a fonte Poppins a todo o corpo */
}
.tabela {
    border-collapse: separate; /* Permite bordas arredondadas */
    border-spacing: 0; /* Remove o espaçamento entre as células */
    width: 100%; /* Ajusta a largura da tabela */
    border-radius: 30px; /* Arredonda as bordas da tabela */
    overflow: hidden; /* Para garantir que as bordas arredondadas sejam aplicadas corretamente */
    padding-top: 20px;
}
.tabela_linha th{
    background-color: #DCCEB1;
    
}
#linkArquivo{
    color: white;
    text-decoration: none;
    outline: none;
}
.tabela_linha th, .tabela_linha td {
    border: 1px solid #F79010; /* Define a borda das células */
    padding: 10px; /* Aumenta o espaçamento interno (altura da linha) */
    text-align: left; /* Alinhamento do texto */
    height: 5%; /* Define uma altura fixa para as células */
}
.icone_pasta{
    width: 20px; height: 20px; margin-right: 8px; 
}

/* Para arredondar as bordas superiores da tabela */
.tabela th:first-child {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; 
}

/* Para arredondar as bordas inferiores da tabela */
.tabela tr:last-child td:first-child {
    border-bottom-left-radius: 30px; 
}

.tabela tr:last-child td:last-child {
    border-bottom-right-radius: 30px; 
}

