.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.textArea{
    border-radius: 16px;
    border-color: #FFFFFF;
    color: #000000; /* Cor que se refere ao que a pessoa vai digitar na textarea*/
    font-family: "Poppins", sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra que a barra*/
    background-color: rgba(255, 255, 255, 0.51); /* Cor textarea */
    resize: none; /* Retira a possibildiade "resize" do textarea */
    outline: none; /* Retira a linha preta que aparece ao clicar no textarea */
    overflow: hidden; 
    text-align: left;
    padding-left: 17px;
    line-height: 1.6;

}
.textArea::placeholder{
    color: #a59c9c; /* Cor que se refere ao texto do placeholder */
    font-size: 0.9vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: left;
    margin: 0;
    margin-left: 20%;
}
.textLabel{
    color: #6e6767;
    margin-left: 1%; /* Determina o espaçamento do label a esquerda */
}