.ant-btn-variant-outlined{
    border: none !important;
    width: 100%;
    box-shadow: none !important;
    color: #333333 !important;
}

.css-dev-only-do-not-override-ut69n1{
    box-shadow: none !important;
   border-color: none !important;
}


