 .comunidade-info {
    display: flex;
    gap: 20px;
    color: white;
    border-bottom: 1px solid #DCCEB1;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.comunidade-imagem-hex {
    width: 100px;
    height: 100px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.comunidade-texto {
    flex: 1;
}

.comunidade-menu {
    display: flex;
    gap: 10px;
}

.tab-btn {
    background: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.tab-btn.active {
    background: #058B92;
}

.comunidade-main {
    margin-top: 20px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.comunidade-sidebar {
    margin-top: 30px;
}

.outra-comunidade {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.comunidade-imagem-hex {
    width: 150px; 
    height: 150px;
    object-fit: cover;
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
}

.post-image {
    width: 483px;
    height: 325px;
    border-radius: 8px;
    object-fit: cover; /* Mantém a proporção da imagem */
}

.avatar {
    width: 54px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

.comunidade-imagem {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
}

.btn-novo {
    background-color: #058B92;
    color: white;
    padding: 5px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 0.1vh;
}

.btn-unfollow {
    background-color: #393737;
    color: #ACABA4;
    padding: 5px 12px;
    border: 0.1vh solid #686666;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 0.1vh;
}

.feed {
    flex: 1;    
    max-width: 59.5%;
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    height: calc(100% - 50px);
    scrollbar-width: thin;
    scrollbar-color: var(--marromEscuro) var(--laranja);
}

.postagem {
    padding: 0 20px;
    margin: 30px auto;
    width: 520px;
    border-radius: 10px;
    color: white;
}

.post-header {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
}

.usuario-info {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.comunidade-post {
    height: 30px;
    padding: 0 5px;
    font-weight: 600;
    border: 2px solid var(--verdeAgua);
    border-radius: 10px;
    color: var(--verdeAgua);
}

.categorias-post {
    display: flex;
    flex-wrap: wrap; /* Permite quebra se faltar espaço */
    margin-left: 64px;
    margin-top: -33px;
}

.categoria {
    font-size: 14px;
    font-weight: 600;
    padding: 3px 8px;
    border-radius: 8px;
    text-transform: uppercase;
}

/* Estilos específicos para cada tipo de categoria */
.periodo {
    color: #EA3165;
}

.materia {
    color: #F7C110;
}

.tecnologia {
    color: #6FB112;
}

.avatar {
    width: 54px;
    height: 56px;
}

.post-header a {
    text-decoration: none;
    color: inherit;
}

.post-header h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.post-header span {
    font-size: 18px;
    font-weight: 400;   
    color: #DCCEB1;
}

.post-header img {
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
}

.post-body {
    margin-top: 10px;
}

.post-body p {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 300;
}

.post-image {
    width: 483px;
    height: 325px;
    border-radius: 8px;
    object-fit: cover;
}

.post-footer {
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

#curtir-btn, #comentar-btn {
    font-size: 16px;
    background-color: transparent;
    color: white;
    gap: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}

.likes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.likes a {
    text-decoration: none;
    color: white;
}


.comentarios {
    display: flex;
    gap: 10px;
}

.likes span.clicked {
    animation: pular 0.3s ease;
  }

.postagem-off {
    color: white;
    margin: 0 auto;
}  